.title{
    margin-left: 1rem;
}

.containerBody{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem !important;
}

.containerCard{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerCard--card{
    height: 15rem !important;
}